<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title Realtime Blog
    style.
      .container {
        width: 600px;
        margin: 0 auto;
        padding: 70px 15px;
      }
    script(src="https://unpkg.com/pusher-feeds-client@0.10.0")
  body
    .container
      a(href="/posts/create") New Post

      h1 Recent Posts

      hr

      #content

    script.
      const post = new Feeds({
        instanceLocator: '#{feedsInstanceLocator}'
      }).feed('post')

      post.subscribe({
        previousItems: 5,

        onItem: ({ data }) => {
          // create h2 element
          const h2Element = document.createElement('h2')
          // add class to h2 element
          h2Element.classList.add('title', 'is-4')

          // create anchor element
          const anchorElement = document.createElement('a')
          // set href attribute and content
          anchorElement.setAttribute('href', `/${data.post.slug}`)
          anchorElement.textContent = data.post.title

          // add anchor element within the h2 element
          h2Element.prepend(anchorElement)

          // finally, add created element to the content section
          document.querySelector('#content').prepend(h2Element)
        }
      })