<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title Document
    style.
      .container {
        width: 600px;
        margin: 0 auto;
        padding: 70px 15px;
      }
  body
    .container
      h1 New Post

      form#form(action="/posts", method="post")
        p
          input(type="text", name="title", placeholder="Give your post a title", style="width: 100%")

        p
          textarea#content(name="content", style="display: none")
          div#editor

        button(type="submit") Save

    script(src="https://cdn.rawgit.com/pusher/deliverfoo/us1/textsync.js")
    script.
      const textSyncInstance = new TextSync({
        instanceLocator: '#{textSyncInstanceLocator}'
      })

      const textSyncEditor = textSyncInstance.createEditor({
        docId: 'document-id',
        element: '#editor'
      })

      // put editor's content into the textarea when form is submitted
      document.querySelector('#editor').addEventListener('keyup', () => {
        textSyncEditor.then(editor => {
          document.querySelector('#content').value = editor.getText()
        })
      })